.rw-calendar {
  width: 248px;
  margin-left: 0px;
  margin-bottom: 50px;
  background-color: rgba(0,0,0,.05);
}

#rw_1_calendar {
  height:11em;
  span {
    // numbers on calendar
    font: 6pt 'SentinelSemibold';
  }
  .rw-header {
    #rw_1_calendar_label {
      // couldn't set font here...
      span {
        //font-size: 12px !important;
      }
    }
  }

  //Mo, Tu, We, Th, Fr, Sa
  th {
    font: 12pt 'SentinelBold';
    font-size: 12px !important;
  }

  tbody {
    .rw-btn {
      line-height: .6em !important;
      font-size: 12px !important;
    }
  }

  td {
    height: 25px !important;
    border: 1px solid #CCC;
  }
}

#rw_1_calendar_label {
  font: 12pt 'SentinelBold';
}

td {
  border: 1px solid #010101;
}

.rw-calendar-grid th {
    padding: 0 .8em 0 .1em !important;
}