.item-list {
    font: 8pt 'SentinelSemibold';
    height: 217px;
    //padding-top: 12px;
    overflow-x: hidden;
    //overflow-y: scroll;
    td {
      height: 12px;
      //padding-top: 10px;
    }
}