@import "./calendar.scss";
@import "./charts.scss";
@import "./dietTable.scss";
@import "foodList";
@import "./navbar.scss";
@import "printableList";
@import "./signin_signout_signup.scss";
@import "./statsTable.scss";
@import "./top.scss";
@import 'welcome';
@import "./../node_modules/toastr/build/toastr.min.css";

html {
    //min-width: 850px;
}

body, input[type="text"], input[type="number"], input[type="search"] {
    background: url(https://dl.dropboxusercontent.com/u/2048705/paper-background-1.jpg);
    // background-image: url("../assets/paper-background-1.jpg"); // for development
    // background-image: url("paper-background-1.jpg"); // for production
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.error { color: red; }

.horiz { display: inline; }

.spacer { height: 30px; }

.text-center { text-align: center; }

.section-divider {
    //border-color: #5093A3;
    margin-bottom: 80px;
    margin-top: 80px;
}
//
//.feature {
//    .welcome-title {
//        p {
//            font: 64pt 'KnockoutHTF67FullBantamwt';
//            margin-top: 57px;
//        }
//    }
//
//}

input {
    padding-left: 2px !important;
    padding-right: 2px !important;
}

input[type=number] {-moz-appearance: textfield;}            // firefox
::-webkit-inner-spin-button { -webkit-appearance: none;}    // chrome
::-webkit-outer-spin-button { -webkit-appearance: none;}    // chrome