.welcome {
    margin-top: 80px;
    p {
        font: 12pt 'SentinelSemibold';
    }

    .welcome-title {
        font: 64pt 'KnockoutHTF67FullBantamwt';
        letter-spacing: .05em;
    }

    .middle-row {
        margin-top: 80px;
    }

    .welcome-header {
        font: 14pt 'SaracenHTFBlack';
        letter-spacing: .1em;
        text-align: center;
        margin-bottom: 30px;
    }
}


