@font-face {
    font-family: 'KnockoutHTF67FullBantamwt';
    src: url('fonts/KnockoutHTF67FullBantamwt.eot');
    src: url('fonts/KnockoutHTF67FullBantamwt.eot') format('embedded-opentype'),
         url('fonts/KnockoutHTF67FullBantamwt.woff2') format('woff2'),
         url('fonts/KnockoutHTF67FullBantamwt.woff') format('woff'),
         url('fonts/KnockoutHTF67FullBantamwt.ttf') format('truetype'),
         url('fonts/KnockoutHTF67FullBantamwt.svg#KnockoutHTF67FullBantamwt') format('svg');
}
