@font-face {
    font-family: 'KnockoutHTF27JuniorBantamwt';
    src: url('fonts/KnockoutHTF27JuniorBantamwt.eot');
    src: url('fonts/KnockoutHTF27JuniorBantamwt.eot') format('embedded-opentype'),
         url('fonts/KnockoutHTF27JuniorBantamwt.woff2') format('woff2'),
         url('fonts/KnockoutHTF27JuniorBantamwt.woff') format('woff'),
         url('fonts/KnockoutHTF27JuniorBantamwt.ttf') format('truetype'),
         url('fonts/KnockoutHTF27JuniorBantamwt.svg#KnockoutHTF27JuniorBantamwt') format('svg');
}
