@font-face {
    font-family: 'KnockoutHTF31JuniorMiddlewt';
    src: url('fonts/KnockoutHTF31JuniorMiddlewt.eot');
    src: url('fonts/KnockoutHTF31JuniorMiddlewt.eot') format('embedded-opentype'),
         url('fonts/KnockoutHTF31JuniorMiddlewt.woff2') format('woff2'),
         url('fonts/KnockoutHTF31JuniorMiddlewt.woff') format('woff'),
         url('fonts/KnockoutHTF31JuniorMiddlewt.ttf') format('truetype'),
         url('fonts/KnockoutHTF31JuniorMiddlewt.svg#KnockoutHTF31JuniorMiddlewt') format('svg');
}
