@font-face {
    font-family: 'KnockoutHTF52Cruiserweight';
    src: url('fonts/KnockoutHTF52Cruiserweight.eot');
    src: url('fonts/KnockoutHTF52Cruiserweight.eot') format('embedded-opentype'),
         url('fonts/KnockoutHTF52Cruiserweight.woff2') format('woff2'),
         url('fonts/KnockoutHTF52Cruiserweight.woff') format('woff'),
         url('fonts/KnockoutHTF52Cruiserweight.ttf') format('truetype'),
         url('fonts/KnockoutHTF52Cruiserweight.svg#KnockoutHTF52Cruiserweight') format('svg');
}
