@font-face {
    font-family: 'KnockoutHTF34JuniorSumo';
    src: url('fonts/KnockoutHTF34JuniorSumo.eot');
    src: url('fonts/KnockoutHTF34JuniorSumo.eot') format('embedded-opentype'),
         url('fonts/KnockoutHTF34JuniorSumo.woff2') format('woff2'),
         url('fonts/KnockoutHTF34JuniorSumo.woff') format('woff'),
         url('fonts/KnockoutHTF34JuniorSumo.ttf') format('truetype'),
         url('fonts/KnockoutHTF34JuniorSumo.svg#KnockoutHTF34JuniorSumo') format('svg');
}
