@font-face {
    font-family: 'LeviathanHTFBlack';
    src: url('fonts/LeviathanHTFBlack.eot');
    src: url('fonts/LeviathanHTFBlack.eot') format('embedded-opentype'),
         url('fonts/LeviathanHTFBlack.woff2') format('woff2'),
         url('fonts/LeviathanHTFBlack.woff') format('woff'),
         url('fonts/LeviathanHTFBlack.ttf') format('truetype'),
         url('fonts/LeviathanHTFBlack.svg#LeviathanHTFBlack') format('svg');
}
