@font-face {
    font-family: 'SaracenHTFBlack';
    src: url('./fonts/SaracenHTFBlack.eot');
    src: url('./fonts/SaracenHTFBlack.eot') format('embedded-opentype'),
         url('./fonts/SaracenHTFBlack.woff2') format('woff2'),
         url('./fonts/SaracenHTFBlack.woff') format('woff'),
         url('./fonts/SaracenHTFBlack.ttf') format('truetype'),
         url('./fonts/SaracenHTFBlack.svg#SaracenHTFBlack') format('svg');
}
