@font-face {
    font-family: 'SentinelSemiboldItalic';
    src: url('fonts/SentinelSemiboldItalic.eot');
    src: url('fonts/SentinelSemiboldItalic.eot') format('embedded-opentype'),
         url('fonts/SentinelSemiboldItalic.woff2') format('woff2'),
         url('fonts/SentinelSemiboldItalic.woff') format('woff'),
         url('fonts/SentinelSemiboldItalic.ttf') format('truetype'),
         url('fonts/SentinelSemiboldItalic.svg#SentinelSemiboldItalic') format('svg');
}
