@font-face {
    font-family: 'SentinelMedium';
    src: url('fonts/SentinelMedium.eot');
    src: url('fonts/SentinelMedium.eot') format('embedded-opentype'),
         url('fonts/SentinelMedium.woff2') format('woff2'),
         url('fonts/SentinelMedium.woff') format('woff'),
         url('fonts/SentinelMedium.ttf') format('truetype'),
         url('fonts/SentinelMedium.svg#SentinelMedium') format('svg');
}
