@font-face {
    font-family: 'SentinelSemibold';
    src: url('fonts/SentinelSemibold.eot');
    src: url('fonts/SentinelSemibold.eot') format('embedded-opentype'),
         url('fonts/SentinelSemibold.woff2') format('woff2'),
         url('fonts/SentinelSemibold.woff') format('woff'),
         url('fonts/SentinelSemibold.ttf') format('truetype'),
         url('fonts/SentinelSemibold.svg#SentinelSemibold') format('svg');
}
