@font-face {
    font-family: 'SentinelBlackItalic';
    src: url('./fonts/SentinelBlackItalic.eot');
    src: url('./fonts/SentinelBlackItalic.eot') format('embedded-opentype'),
         url('./fonts/SentinelBlackItalic.woff2') format('woff2'),
         url('./fonts/SentinelBlackItalic.woff') format('woff'),
         url('./fonts/SentinelBlackItalic.ttf') format('truetype'),
         url('./fonts/SentinelBlackItalic.svg#SentinelBlackItalic') format('svg');
}
