@font-face {
    font-family: 'SentinelBold';
    src: url('./fonts/SentinelBold.eot');
    src: url('./fonts/SentinelBold.eot') format('embedded-opentype'),
         url('./fonts/SentinelBold.woff2') format('woff2'),
         url('./fonts/SentinelBold.woff') format('woff'),
         url('./fonts/SentinelBold.ttf') format('truetype'),
         url('./fonts/SentinelBold.svg#SentinelBold') format('svg');
}
