@font-face {
    font-family: 'SentinelBlack';
    src: url('fonts/SentinelBlack.eot');
    src: url('fonts/SentinelBlack.eot') format('embedded-opentype'),
         url('fonts/SentinelBlack.woff2') format('woff2'),
         url('fonts/SentinelBlack.woff') format('woff'),
         url('fonts/SentinelBlack.ttf') format('truetype'),
         url('fonts/SentinelBlack.svg#SentinelBlack') format('svg');
}
