@font-face {
    font-family: 'ZigguratHTFBlack';
    src: url('fonts/ZigguratHTFBlack.eot');
    src: url('fonts/ZigguratHTFBlack.eot') format('embedded-opentype'),
         url('fonts/ZigguratHTFBlack.woff2') format('woff2'),
         url('fonts/ZigguratHTFBlack.woff') format('woff'),
         url('fonts/ZigguratHTFBlack.ttf') format('truetype'),
         url('fonts/ZigguratHTFBlack.svg#ZigguratHTFBlack') format('svg');
}
