@font-face {
    font-family: 'ZigguratHTFBlackItalic_1';
    src: url('fonts/ZigguratHTFBlackItalic_1.eot');
    src: url('fonts/ZigguratHTFBlackItalic_1.eot') format('embedded-opentype'),
         url('fonts/ZigguratHTFBlackItalic_1.woff2') format('woff2'),
         url('fonts/ZigguratHTFBlackItalic_1.woff') format('woff'),
         url('fonts/ZigguratHTFBlackItalic_1.ttf') format('truetype'),
         url('fonts/ZigguratHTFBlackItalic_1.svg#ZigguratHTFBlackItalic_1') format('svg');
}
